<footer>
    <div class="social-medias">
    <ul class="wrapper">
        <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <span><i class="fab fa-twitter"></i></span>
        </li>
            <li class="icon instagram">
                <span class="tooltip">Facebook</span>
                <span><i class="fab fa-instagram"></i></span>
            </li>
            <li class="icon whatsapp">
                <span class="tooltip">Whatsapp</span>
                <span><i class="fab fa-whatsapp"></i></span>
            </li>
        </div>

<div class="legacy">
    <section class = 'privacy'>
        <p>Política de Privacidad</p>
    </section>

    <section class = 'terms'>
        <p>Términos y condiciones legales</p>
    </section>    

    <section class = 'consumer-defense'>
        <p>Defensa del consumidor</p>
    </section>   
</div>

<section class = 'copyright'>
    <p>Copyright © 1999-2020 El Ritual S.R.L. - Todos los derechos reservados</p>
</section>

</footer>