<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Pestaña -->
    <link rel="icon" href="images/logo-el-ritual.jpg">
    <title>El Ritual</title>

<!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- TIPOGRAFIAS -->
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 <!-- Hojas de estilo y normalice -->

 <link rel="stylesheet" href="/css/normalize.css">
 <link rel="stylesheet" href="/css/style-carrito.css">

</head>
<body>
    <header>

        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>

        <section class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-el-ritual.jpg" alt="Logo El Ritual"></a>
                    <p>El Ritual</p>
                </div>
                <!-- <form action="*" class="search" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </form> -->
        </section>

        <div class="mobile-user">
            <section class="mobile-login-register">
                <i class="fas fa-user"></i>
            </section>
            <section class="mobile-cart">
                <i class="fas fa-shopping-cart"></i>
            </section>
        </div>

        <nav class="nav-total">
         
            <ul class="nav-bar">
                <li type="none"> <a href="*">Productos</a> </li>
                <li type="none"> <a href="*">Noticias</a> </li>
                <li type="none"> <a href="*">Próximos Estrenos</a> </li>
            </ul>
            
            <ul class="nav-user">
                <li type="none"> <a href="/register">Crear cuenta</a></li>
                <li type="none"> <a href="*">Iniciar Sesión</a></li>
                <li type="none"> <a href="*"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        
        
        
        </nav>





    </header>

    <main>
        <section class="total-products">
        <div class="title-carrito">
        <h1>Carrito de compras</h1>
        </div>

        <div class="products">
            <article class="product-detail">
                <img src="images/remera-ACDC.jpg" alt="Remera AC/DC">
                <section class="description">
                    <h3>Remera AC/DC</h3>
                    <p class="precio">$4200</p>
                </section>
            </article>
            <article class="product-detail">
                <img src="images/remera-nirvana.jpg" alt="Remera Nirvana">
                <section class="description">
                    <h3>Remera Nirvana</h3>
                    <p class="precio">$4200</p>
                </section>
            </article>
        </div>
        </section>
        <p class="subtotal"><strong>Subtotal</strong>(sin envio): <strong>$8400</strong><p>
        <p class="total"><strong>Total: 8400</strong></p>
        <div class="button-compra">
        <button>INICIAR COMPRA</button>
        </div>
        <div class="ver-products">
        <a href="*">Ver más productos</a>
        </div>
    </main>
    <footer>
        <div class="social-medias">
        <ul class="wrapper">
            <li class="icon facebook">
                <span class="tooltip">Facebook</span>
                <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span>
            </li>
                <li class="icon instagram">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-instagram"></i></span>
                </li>
                <li class="icon whatsapp">
                    <span class="tooltip">Whatsapp</span>
                    <span><i class="fab fa-whatsapp"></i></span>
                </li>
            </div>

    <div class="legacy">
        <section class = 'privacy'>
            <p>Política de Privacidad</p>
        </section>

        <section class = 'terms'>
            <p>Términos y condiciones legales</p>
        </section>    

        <section class = 'consumer-defense'>
            <p>Defensa del consumidor</p>
        </section>   
    </div>

    <section class = 'copyright'>
        <p>Copyright © 1999-2020 El Ritual S.R.L. - Todos los derechos reservados</p>
    </section>
    
</footer>
</body>
</html>