<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Pestaña -->
    <link rel="icon" href="images/logo-el-ritual.jpg">
    <title>El Ritual</title>

<!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- TIPOGRAFIA ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 <!-- Hojas de estilo y normalice -->
 <link rel="stylesheet" href="/css/styles.css">
 <link rel="stylesheet" href="/css/normalize.css">

</head>
<body>
    <header>

        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>

        <section class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-el-ritual.jpg" alt="Logo El Ritual"></a>
                    <p>El Ritual</p>
                </div>
                <!-- <form action="*" class="search" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </form> -->
        </section>

        <div class="mobile-user">
            <section class="mobile-login-register">
                <i class="fas fa-user"></i>
            </section>
            <section class="mobile-cart">
                <i class="fas fa-shopping-cart"></i>
            </section>
        </div>

        <nav class="nav-bar">
            <ul>
                <li type="none"> <a href="*">Productos</a> </li>
                <li type="none"> <a href="*">Noticias</a> </li>
                <li type="none"> <a href="*">Próximos Estrenos</a> </li>
            </ul>
        </nav>
        <nav class="nav-user">
            <ul>
                <li type="none"> <a href="/register">Crear cuenta</a></li>
                <li type="none"> <a href="*">Iniciar Sesión</a></li>
                <li type="none"> <a href="*"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>




    </header>

    <main>
        <section class="total-products">
        <h2>Carrito de compras</h2>
        <div class="products">
            <article>
                <img src="images/remera-ACDC.jpg" alt="Remera AC/DC">
            </article>
            <article>
                <img src="images/remera-nirvana.jpg" alt="Remera Nirvana">
            </article>
        </div>
        </section>
        <h3><strong>Subtotal</strong>(sin envio): <strong>$8400</strong></h3>
        <p>Total: 8400</p>

    </main>
