<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/styles-login-register.css">    
    </head>
    <body>
        <header>
    
            <%- include("partials/header") %>
    
        </header>

<main>
    <% if (typeof errors != "undefined") { %>
     <p style="color: red">ERROR</p>
     <ul>
        <% for( let i = 0; i < errors.length; i++ ) { %>
        <li>
            <%= errors[i].msg %> 
        </li>
        <% } %>
     </ul>
    <% } %>
    <form action="/login" method="POST" class="login" enctype="multipart/form-data"> 
            <h3>Inicio de sesi칩n</h3>

            <div class="user-data">
                <label for="user">
                <input type="text" name="user" placeholder="Nombre de usuario" minlength="4" required>
                <span class="feedback"></span>
                </label>
            </div>

            <div class="user-data">
                <label for="password">
                <input type="password" name="password" placeholder="Contrase침a" required>
                <span class="feedback"></span>
                </label>
            </div>

            <div class="login-redes">
                <button type="submit" class="facebook"><a href=""><i class="fab fa-facebook"></i>Ingres치 con Facebook</a></button>

                <button type="submit" class="google"><a href=""><i class="fab fa-google"></i>Ingres치 con Gmail</a></button>
            </div>

            
            <div class="login-register">  
                <button type="submit" class="user-data-button"><span>Continuar</span></button>
                      
                <button class="user-data-button"><a href="/register">Registrate</a></button>
            </div>

        </form>

</main>
<footer>

    <%- include("partials/footer") %>

</footer>
</body>
</html>