<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>
     <link rel="stylesheet" href="/css/styles-login-register.css">    
    </head>
    <body>
        <header>
    
            <%- include("partials/header") %>
    
        </header>

    <main>
        
        <div class="register">
            

            <form action="/register" method="POST" enctype="multipart/form-data">
                <h3>Completa tus datos</h3>

                <div class="user-data">
                    <label for="firstName">
                    <input type="text" name="firstName" placeholder="Nombre " required>
                    </label>
                </div>
                <div class="user-data">
                    <label for="lastName">
                    <input type="text" name="lastName" placeholder="Apellido" required>
                    </label>
                </div>

                <div class="user-data">
                    <label for="email">
                    <input type="email" name="email" placeholder="email" required>
                    </label>
                </div>

                <div class="user-data">
                    <label for="password">
                    <input type="password" name="password" placeholder="Password" required>
                    </label>
                </div>

                
                    <div class="user-data">
                    <h5>Agregá una foto</h5>
                    <label for="user-avatar">
                    <input type="file" name="userImage" accept=".jpg, .png">
                    <span class="feedback"></span>
                    </label>
                </div>

              

                <div class="user-data-checkbox">
                    <label for="terms" class="terms">
                    <input type="checkbox" name="terms" required>
                    Acepto las bases y condiciones.
                    <a href="*">Ver bases y condiciones</a>
                    </label>
                    <label for="newsletter" class="newsletter">
                    <input type="checkbox" name="newsletter">
                    Deseo recibir información sobre eventos y promociones.
                    </label>
                    

                </div>

                <div class="prueba">
                    <div class="user-data-submit-button">          
                        <button type="submit"><span>Registrate</span></button>
                    </div>
                </div>
            </form>

        </div>

    </main>

    
    <footer>
        <%- include("partials/footer") %>
</footer>
</body>
</html>