* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arimo', 'Roboto', sans-serif;
}

main {
    margin: 0% auto;
    width: 90%;
}



h1{
    font-family: 'Rock Salt';
    text-align: center;
    font-size: 23px;
    margin-top: 6%;
}

a{
    font-size: 10px;
}
.copy{
margin: 4%;
}

.image{
    border: solid 16px #A83DDB;
    width: 70%;
    padding: 25% 8%;
    font-size: 15px;
    text-align: center;
    margin: auto;
    background-color: #E2CBFF;
    /* position: relative; */
    }

.perfil {
    font-family: 'Rock Salt';
    display: block;
    padding-bottom: 10%;
    text-align: center;
    /* position: absolute;
    top: 30%;
    left: 22.5% */
    }

 .product-detail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    }

.admin {
    display: flex;
    margin-top: 50px;
    font-size: 18px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    }

.user-data{
    padding-bottom: 5px;
    margin-top: 10px;
    text-align: left;
    }

.user-data input {
    line-height: 28px;
    border: 2px solid transparent;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    /* padding: .2rem 1rem; */
    border-radius: 1rem;
    border-color: transparent;
   }

   input:focus , input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }


input::placeholder {
    color: #777;
   }

input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

.size label {
    display: block;
    margin-bottom: 3%;
}

.small, .medium, .large {
    padding: 10px 5px;
    border-radius: 100%;
    border-width: 3px;
}
.quota{
border: transparent;
}

.xl{
    padding: 11px 2px;
    border-radius: 100%;
    border-width: 3px;
}




button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #B600F6;
    border-radius: 4em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 !important;
    min-height: 2.25em;
    min-width: 2em;
    outline: none;
    padding: 0.5em 1.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #B600F6;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }


@media (min-width: 860px){

h1{
    margin-top: 4%;
}

.product{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.image{
    width: 40%;
    padding: 15% 4%;
    }


.product-detail{
    width: 80%;
    margin-left: 3%;
}

.size{
    width: 50%;
}
.small, .medium, .large, .xl{
margin-left: 2%;

}

/* main{
    text-align: center;
}
.image {
    border: solid 6px violet;
    width: 30%;
    padding: 4%;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 4%;
    font-size: 20px;
    text-align: center;
}

.productDetail{
    justify-content: center;
}
.admin{
    justify-content: center;
    margin-top: 50px;
} */

}