* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb!important;
    /* width: 100%; */
}


/* ----------------- Main ------------------*/
 .title-carrito{
    border: solid 2px #B600F6;
    margin: 10px 200px -8px 15px;
    background-color: #fff;
    width: 40%;
    border-radius: 0.9em

}



h1{
    font-size: 18px;
    text-align: center;
}
img{
    width: 35vw;
}
.product-detail{
    display: flex;
    border-bottom: solid 3px #B600F6;
    background-color: #fff;
    margin: 10px 15px 10px 15px;
}
.description{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 20px;
}

.subtotal{
    font-size: 15px;
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}
.total{
    font-size: 20px;
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
    color: #B600F6;
}
.ver-products{
    text-align: center;
}

/* ----------------- INICIO botton libreria ------------------*/

.button-compra{
    text-align: center;
    margin: 25px;
}

.button-compra button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #B600F6;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 !important;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
    .button-compra button:disabled {
    pointer-events: none;
   }
   
   .button-compra button:hover {
    color: #fff;
    background-color: #B600F6;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .button-compra button:active {
    box-shadow: none;
    transform: translateY(0);
   }

   /* ----------------- FIN botton libreria ------------------*/


@media (min-width: 560px){


}

@media (min-width: 860px){

    
    main{
        width: 70%;
        margin: auto;
        
    }
    
    h1 {
        font-size: 23px;
    }
    
    .product-detail img {
        width: 20vw;
    }
    .description{
        font-size: 20px;
    }
    .subtotal, .total{
        font-size: 23px;
    }
    button{
        min-width: 20em;
    }

}