* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb!important;
    /* width: 100%; */
}


/*--------------MAIN-----------------*/
.copy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
        
}

main a{
  color: black;
  font-size:16px
}

h2{
  margin-top: 10px;
  font-family: 'Roboto';
}



.product{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 50px;
    color: #393D3F;
}

.size {
  text-align: right;
  margin-right: 425px;
  font-size: 18px;
}

/*----------------Media queries-------------*/

@media (min-width: 560px){


  
}
@media (min-width: 768px){

/*---------------MAIN-------------------*/
.product{
  flex-direction: row;
}

.product-copy{
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  width: 200%;
  text-align: justify;
  justify-content: space-around;
  font-size: 26px;
}

.product img{
  width: 50%;
  border: solid 2px black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
  
}


}
/* ----------------- FIN botton libreria ------------------*/
