* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arimo', 'Roboto', sans-serif;
    background-color: #ebebeb
}

/* -----------------MAIN ------------------*/
.firstNameError, .lastNameError, .emailError, .userNameError, .passwordError{
    display: none;
    color: red
}

main{
    margin: 0% auto;
    width: 90%;
}

.register {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.register h3, .login h3 {
    text-align: center;
    padding: 15px;
}
h5 {
    padding: 10px;
}

.register form{
    text-align: center;
    border: rgb(178, 199, 245) 5px solid;
    margin: 10px 0px;
    border-radius: 20px;
    background-color: whitesmoke
}

.login i{
    margin-right: 10px;
}
.login{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    padding: 0% 5% 5% 5%;
    flex-direction: column;
    border: rgb(178, 199, 245) 5px solid;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 90%;
    margin: 5% auto;
}
.login label{
    text-align: center;
}
.login-redes{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 2% 0%;
   }

.login-register{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 2% 0%;
   }

.user-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
}


.user-data input{
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    border-radius: 1rem;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }

.register label {
    width: 100%;
    padding-left: 5px;
    }
   

input{
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
    width: 80%;
   }

.login input{

    width: 100%;
   }

input:focus , input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }

   
input::placeholder {
    color: #777;
   }
   
input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }


   .user-data-checkbox input{
    width: 5%;
   }
   
   .terms, .newsletter {
    display: block;
    font-size: 11px;
    margin-left: 10%;
    margin-top: 10px;
    text-align: left;
   }

/* ---------------BOTONES------------------ */



.register .user-data-submit-button  {
    margin: 2% 0% 4% 53%;
    font-family: inherit;
    font-size: 20px;
    color: white;
    padding: 0.5em 2em;
    /* padding-left: 1.1em; */
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s;
    background: #E2340E;
   }
   
.login .user-data-button  {
    /* margin: 2% 0% 4% 53%; */
    font-family: inherit;
    font-size: 18px;
    color: white;
    padding: 0.5em 1em;
    /* padding-left: 1.1em; */
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s;
     background: #E2340E; 
   }

   .login-register a {
    text-decoration: none;
    color: white;
   }

   button a {
    text-decoration: none;
    color: black;
   }

.facebook, .google{
    font-size: 12px;
}

   .fa-facebook{
    color: blue;
   }

   .fa-google{
    color: red;
   }




@media (min-width: 560px){

    .terms, .newsletter {
        font-size: 13px;
        margin-left: 10%;
        margin-top: 10px;
       }
}

@media (min-width: 860px){



}
