* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arimo', 'Roboto', sans-serif;
    background-color: #ebebeb!important;
    /* width: 100%; */
}

/* -----------------HEADER ------------------*/

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt';
    padding-bottom: 3%;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 30px;
}
.top-header{
    width: 33%;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img{
    width: 100%;
}
.logo p{
    text-align: center;
    padding-bottom: 10px; 
}


.mobile-user{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: space-around;
    font-size: 18px;
}

.mobile-login-register i{
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.mobile-cart i{
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    color: black;
    border-radius: 20px;
    padding: 8px;
}

.nav-bar, .nav-user{
    display: none;
}


/* -----------------MAIN ------------------*/

main{
    text-align: center;
}


/* -----------------FOOTER ------------------*/
.social-medias{
    text-align: center;
    margin: 2% 38%;
    border: 1px rgba(168, 168, 168, 0.5) solid;
    background-color: rgba(168, 168, 168, 0.5)
}

.fa-twitter{
color: aqua;
}
.fa-instagram{
color: blueviolet;
}
.fa-facebook{
    color: blue;

}
.fa-whatsapp{
    color: green;
}