* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arimo', 'Roboto', sans-serif;
    background-color: #2e2f31;
    background-image: url(/images/fondo-home.jpeg);
    background-repeat: repeat-y;
    background-size: contain; 
}

/* -----------------HEADER ------------------*/

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt';
    padding-bottom: 3%;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 30px;
}
.top-header{
    width: 33%;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img{
    width: 100%;
}
.logo p{
    text-align: center;
    padding-bottom: 10px; 
    font-size: 18px;
}

@keyframes logo{
    50% {transform: translateY(3px);
    }
}

.logo img{
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}


.mobile-user{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: space-around;
    font-size: 18px;
}

.mobile-login-register i{
    border: 1px solid #D0CFEC;
    background-color: #D0CFEC;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.mobile-cart i{
    border: 1px solid #D0CFEC;
    background-color: #D0CFEC;
    color: black;
    border-radius: 20px;
    padding: 8px;
}

.nav-bar, .nav-user{
    display: none;
}


/* --------------------MAIN ---------------------*/

main{
    text-align: center;
    color: whitesmoke;
    margin: 0% auto;
    width: 90%;

}

h1{
    font-family: 'Rock Salt';
    padding: 3% 0% 3% 0%;
}


.search{
    padding: 3% 0% 12% 0%;
    position: relative;
}
.calendar {
    width: 6%;
    position: absolute;
    right: 16%;
    top: 19%;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

.loupe{
    position: absolute;
    left: 16%;
    top: 20%;
    z-index: 1;
    font-size: 25px;
    border: none;
    background-color: transparent;
}


/* button */

.search-bar {
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 2em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 2.75em;
    min-width: 0;
    outline: none;
    padding: 0em 4em;
    text-align: left;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .search-bar:disabled {
    pointer-events: none;
   }
   
   .search-bar:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .search-bar:active {
    box-shadow: none;
    transform: translateY(0);
   }


/* button end */




.carrusel{
    padding: 5% 0%;
    display: flex;
    justify-content: center;
}

.carrusel button{
    background-color: transparent;
    border: transparent;
    /* padding: 0% 5%; */
}

.arrow-left {
    padding-right: 4%;
}
.arrow-right {
    padding-left: 4%;
}

.carrusel button{
    font-size: 40px;
    color: white;
}

.carrusel-tablet, .carrusel-desktop{
    display: none;
}


/* --------------------FOOTER ---------------------*/
/* ----------------- REDES SOCIALES ------------------*/
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #49be25;
    color: #fff;
  }
/* ------------------- LEGACY ------------------*/

.legacy{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 15px;
    justify-content: space-around;
    color: whitesmoke;
   }
.consumer-defense{
    width: 80%;
    text-align: center;
    margin: 10px;
    color: whitesmoke;
   }

.copyright p{
    font-size: 13px;
    text-align: center;
    margin-bottom: 18px;
    color: whitesmoke;
}

@media (min-width: 560px){
    /* HEADER */
    .burger-menu{
        font-size: 70px;
    }

    .logo p{
        font-size: 30px;
        padding: 5% 0% 7% 0%;
    }

    .mobile-login-register i {
        padding: 15px 17px;
        border-radius: 35px;
        font-size: 40px;
    }

    .mobile-cart i {
        padding: 12px;
        border-radius: 30px;
        font-size: 35px;
    }

    /* FIN HEADER */

    h1{
        font-size: 45px!important;
    }

    h2{
        font-size: 35px;
    }

    .search-bar{
        width: 70%;
        min-height: 3.25em;
        font-size: 28px;
        padding: 0em 3em;
    }

    .loupe{
        font-size: 45px;
        left: 18%;
        top: 22%;
    }

    .calendar{
        font-size: 45px;
        right: 18%;
        top: 21%;
    }

    .carrusel-mobile{
        display: none;
    }

    .carrusel-tablet{
        display: block;
    }

    .carrusel-tablet img{
        width: 100%;
        height: 110%;
    }


}

@media (min-width: 860px){

    /* -----------------HEADER------------------- */

    .nav-user a{
        font-family: "arimo", "roboto", sans-serif;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 23px;
    }

    .burger-menu{
        display: none;
    }

    header{
        justify-content: left;
        width: 100%;
    }

    .mobile-user{
        display: none;
    }

    .nav-total{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }

    .nav-bar{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: nowrap;
        padding: 0% 3%;
    } 

    .nav-user{
        display: flex;
        justify-content: right;
        align-items: center;

    }  
    .nav-user li{
        width: 20%;
        text-align: center;
    }

    .nav-user i{
        border: 1px solid  #D0CFEC;
        padding: 8%;
        color: black;
        background-color: #D0CFEC;
        border-radius: 40px;
        font-size: 28px;
    }



    /* -----------------FIN HEADER------------------- */

    h1{
        font-size: 50px!important;
    }

    h2{
        font-size: 40px;
    }


    .search-bar{
        width: 50%;
        font-size: 32px;
    }

    .loupe{
        font-size: 55px;
        top: 20%;
        left: 27%;
    }

    .calendar{
        font-size: 85px;
        right: 27%;
        top: 15%;
    }

    .carrusel-tablet{
        display: none;
    }

    .carrusel-desktop{
        display: block;
    }

    .carrusel-desktop img{
        width: 100%;
        height: 120%;
    }

    @keyframes logo{
        50% {transform: translateY(10px);
        }
    }
    
    .logo img{
        animation-name: logo;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 1s;
    }

}




