* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arimo', 'Roboto', sans-serif;
    background-color: #2e2f31;
    background-image: url(/images/fondo-home.jpeg);
    background-repeat: repeat-y;
    background-size: contain; 
    
}

/* --------------------MAIN ---------------------*/

main{
    text-align: center;
    color: whitesmoke;
    margin: 0% auto;
    width: 90%;

}

h1{
    font-family: 'Rock Salt';
    padding: 3% 0% 3% 0%;
}


.search{
    position: relative;
}
.calendar {
    width: 6%;
    position: absolute;
    right: 16%;
    top: 19%;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

.loupe{
    position: absolute;
    left: 16%;
    top: 20%;
    z-index: 1;
    font-size: 25px;
    border: none;
    background-color: transparent;
}


/* button */

.search-bar {
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 2em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 2.75em;
    min-width: 0;
    outline: none;
    padding: 0em 4em;
    text-align: left;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .search-bar:disabled {
    pointer-events: none;
   }
   
   .search-bar:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .search-bar:active {
    box-shadow: none;
    transform: translateY(0);
   }


/* button end */




.carrusel{
    padding: 5% 0%;
    display: flex;
    justify-content: center;
}

.carrusel button{
    background-color: transparent;
    border: transparent;
}

.arrow-left {
    padding-right: 4%;
}
.arrow-right {
    padding-left: 4%;
}

.carrusel button{
    font-size: 40px;
    color: white;
}

.carrusel-tablet, .carrusel-desktop{
    display: none;
}

.legacy, .copyright{
    color: white;
}

@media (min-width: 560px){

    h1{
        font-size: 45px!important;
    }

    h2{
        font-size: 35px;
    }

    .search-bar{
        width: 70%;
        min-height: 2.25em;
        font-size: 16px;
        text-align: center;
       
    }

    .loupe{
        font-size: 24px;
        left: 18%;
        top: 22%;
    }

    .calendar{
        font-size: 24px;
        right: 18%;
        top: 21%;
    }

    .carrusel-mobile{
        display: none;
    }

    .carrusel-tablet{
        display: block;
    }

    .carrusel-tablet img{
        width: 100%;
        height: 110%;
    }


}

@media (min-width: 860px){

    
    h1{
        font-size: 50px!important;
    }

    h2{
        font-size: 34px;
    }


    .search-bar{
        width: 50rem;
        min-height: 3.25em;
        font-size: 16px;
        text-align: center;
        margin-top: 8px;
        margin-left: 36px;
       
    }
    .ticketSearch{
        margin-top: 12px;
        display: flex;
        align-items: center;
        
    }

    #ticket-search-bar{
        justify-self: end;
    }
    

    .loupe{
        font-size: 24px;
        left: 18%;
        top: 22%;
    }

    .calendar{
        font-size: 24px;
        right: 18%;
        top: 21%;
    }

    .carrusel-tablet{
        display: none;
    }

    .carrusel-desktop{
        display: block;
    }

    .carrusel-desktop img{
        width: 100%;
        height: 120%;
    }
}




