* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb!important;
    /* width: 100%; */
}

/* -----------------HEADER ------------------*/

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 30px;
}
.top-header{
    width: 33%;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img{
    width: 100%;
}
.logo p{
    text-align: center;
    padding-bottom: 10px; 
}


.mobile-user{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: space-around;
    font-size: 18px;
}

.mobile-login-register i{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.mobile-cart i{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    padding: 8px;
}

.nav-bar, .nav-user{
    display: none;
    
}

/*--------------MAIN-----------------*/
.copy{
    display: flex;
    flex-direction: column;
}



.product{
    display: flex;
    flex-direction: column;
    
    
}

.size p{

        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align:left;
        margin:0px auto;
        padding:3%
    
}



/* ----------------- FIN botton libreria ------------------*/

   /* ----------------- redes sociales ------------------*/
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #49be25;
    color: #fff;
  }
  /* ----------------- fin redes sociales ------------------*/

   /* ----------------- legacy ------------------*/

   .legacy{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 15px;
    justify-content: space-around;
   }
   .consumer-defense{
    width: 80%;
    text-align: center;
    margin: 10px;
   }

.copyright p{
    font-size: 13px;
    text-align: center;
    margin-bottom: 18px;
}


