* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb!important;
    /* width: 100%; */
}

/* -----------------HEADER ------------------*/

header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Rock Salt';
  padding-bottom: 3%;
}

.burger-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  font-size: 30px;
}
.top-header{
  width: 33%;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo img{
  width: 100%;
}
.logo p{
  text-align: center;
  padding-bottom: 10px; 
  font-size: 18px;
}

@keyframes logo{
  50% {transform: translateY(3px);
  }
}

.logo img{
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}


.mobile-user{
  width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center; 
  justify-content: space-around;
  font-size: 18px;
}

.mobile-login-register i{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  padding: 10px;
}
.mobile-cart i{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  padding: 8px;
}

.nav-bar, .nav-user{
  display: none;
  
}

/* ----------------- fin header ------------------*/

/* ----------------- INICIO main ------------------*/

.copy{
    margin: 15px;
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 16px;
    text-align: center;
    font-family: 'arimo';
}
.filter{
    display: flex;
    flex-direction: column;
}
.categorias{
    width: 50%;
    margin-top: 10px;
      border: solid 2px #B600F6;
      margin: 10px 200px -8px 15px;
      background-color: #fff;
      border-radius: 0.9em
  
}

main{
    width: 80vw;
    margin: 0% auto;
}


main img{
    width: 180px;
    height: 180px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.product-detail{
    width: 100%;
    text-align: center;
}
.precio{
    margin: 10px;
}
/* ----------------- inicio card ------------------*/

.card {
    width: 260px;
    height: 360px;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    box-shadow: 35px 35px 68px 0px rgba(106, 90, 205, 0.2), inset -8px -8px 16px 0px rgba(106, 90, 205, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    /* cursor: pointer; */

  }
  
  .card:hover {
    box-shadow: 35px 35px 68px 0px rgba(106, 90, 205, 0.5);
  }
  
  /* .card:active {
    transform: scale(0.95);
    border: 1px solid blue; */
    /* animation: 0.3s click cubic-bezier(.42,0,.58,1); */


  /* @keyframes click{
    from{
      transform: scale(1);
    }
    50%{
      transform: scale(0.95);
    }
    to{
      transform: scale(1);
    }
  } */
  

/* ----------------- FIN CARD ------------------*/





/* ----------------- FIN MAIN ------------------*/



/* ----------------- INICIO botton libreria ------------------*/

.button-compra{
    text-align: center;
    margin: 25px;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #B600F6;
    border-radius: 4em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0 !important;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 0.5em 1.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #B600F6;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }

   /* ----------------- FIN botton libreria ------------------*/

   /* ----------------- redes sociales ------------------*/
   .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #49be25;
    color: #fff;
  }
  /* ----------------- fin redes sociales ------------------*/

   /* ----------------- legacy ------------------*/

   .legacy{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 15px;
    justify-content: space-around;
   }
   .consumer-defense{
    width: 80%;
    text-align: center;
    margin: 10px;
   }

.copyright p{
    font-size: 13px;
    text-align: center;
    margin-bottom: 18px;
}


@media (min-width: 860px){

  /* -----------------HEADER------------------- */

  .nav-user a{
      font-family: "arimo", "roboto", sans-serif;
  }

  header a{
      text-decoration: none;
      color: white;
      font-size: 23px;
  }

  .burger-menu{
      display: none;
  }

  header{
      justify-content: left;
      width: 100%;
  }

  .mobile-user{
      display: none;
  }

  .nav-total{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
  }

  .nav-bar{
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: nowrap;
      padding: 0% 3%;
  } 

  .nav-user{
      display: flex;
      justify-content: right;
      align-items: center;

  }  
  .nav-user li{
      width: 15%;
      text-align: center;
  }

  .nav-user i{
      border: 1px solid  #D0CFEC;
      padding: 15%;
      color: black;
      background-color: #D0CFEC;
      border-radius: 25px;
  }
  @keyframes logo{
      50% {transform: translateY(10px);
      }
  }
  
  .logo img{
      animation-name: logo;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1s;
  }

  /* -----------------FIN HEADER------------------- */
    /* -----------------INICIO MAIN------------------- */


    .categorias{
      width: 30%;
    }
    .product{
      
      display:flex;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card{
      width: 40%;
    }
    .card img{
      
    }
    .description{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      /* -----------------FIN MAIN------------------- */


         /* ----------------- legacy ------------------*/

         .legacy{
          display: flex;
          flex-wrap: wrap;
          font-size: 15px;
          margin-left: 60px;
          justify-content: space-around;
          
         }
      
      
         .consumer-defense{
          width: 80%;
          text-align: center;
          margin: 10px;
         }
      
      .copyright p{
          font-size: 13px;
          text-align: center;
          margin-bottom: 18px;
      
      }
}